<h4>Internal Server Error</h4>

@if (error) {
  <h5 class="text-danger">Error: {{error.message}}</h5>
  <p class="font-weight-bold mt-4 mb-2">Note this is the Server Error</p>
  <p>What to do next?</p>
  <ol class="mt-2 pl-2">
    <li>Check network tab in dev tools</li>
    <li>Examine the url of the failing request</li>
    <li>Reproduce the error in Postman</li>
  </ol>
  <p class="font-weight-bold">Stack Trace:</p>
  <code class="mt-4" style="background-color: whitesmoke;">
    {{error.details}}
  </code>
}
