<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <app-text-input
    [id]="'username'"
    [formControl]="$any(registerForm.controls['username'])"
    [label]="'Username'"></app-text-input>

  <app-text-input
    [id]="'password'"
    [formControl]="$any(registerForm.controls['password'])"
    [label]="'Password'"
    [type]="'password'"></app-text-input>

  <app-text-input
    [id]="'confirmpassword'"
    [formControl]="$any(registerForm.controls['confirmPassword'])"
    [label]="'Confirm Password'"
    [type]="'password'"></app-text-input>

  <div class="form-group text-center">
    <button type="submit" class="btn btn-success me-2" [disabled]="registerForm.invalid">Register</button>
    <button type="button" class="btn btn-default me-2" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
